.button-list{
    float: left;
}

.button-primary:first-child {
    margin-top : 20px;
}

.button-primary {
    background-color: #563d7c;;
    margin-bottom: 10px;
}

.t-icon {
    /*height: 30px;*/
    /*width : 30px;*/
    border-radius: 10px;
}

a {
    cursor: pointer;
}

.d-table-cell {
    display: table-cell;
}

.row .col-md-10 {
    padding: 18px 0px;
}

.icon {
    float: left;
    border-radius: 3px;
    /*display: inline-block;*/
    /*line-height: 1;*/
    /*vertical-align: middle;*/
}

.friends-name {
    font-size: 20px;
    margin-bottom: 7px;
}

.friends-tag {
    color : #586069;
    margin-bottom: 8px;
}

.address-icon {
    height: 14px;
    width: 14px;
    display: inline;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
}

.friends-address {
    display: inline;
    margin-bottom: 20px;
}

.item {
    display: block;
}


.col-md-9 {
    float: right;
}

.icon {
    size: 50px;
}

.dropdown {
    display: inline-block;
}