.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fileinput-button input{
    position:absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
}

.relevant-color{
    background-color: #65e849 !important;
}

.irrelevant-color{
    background-color: #e66c6c !important;
}

#sth {
    margin-bottom: 20px;
    padding-bottom: 20px;
    height: 200px;
    overflow: scroll;
}

#table2 {
    height: 300px;
    overflow: scroll;
}

.blank {
    margin: 20px 0;
}

.t2 {
    overflow: scroll;
    max-height: 300px;
}

.radio-inline {
    display: inline;
}

#sth > tr >td {
    height: 120px;
    max-height: 120px;
}

.globalGraph {
    padding-left: 20px;
    width: 100%;
}